@inherits LayoutComponentBase

<div id="application">

    <div id="header">
        <p>LazyCook - Une application pour les optimiseurs de ressources!</p>
    </div>

    <div id="body">
        @Body
    </div>

    <div id="footer">
        <p>Copyright (c) 2019-2020 Yoann MOUGNIBAS</p>
    </div>

</div>
